<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-color: black;
  color: white;
}
h1 {
 text-align:center
}
P { 
  text-align: center 
  }
.button {
  background-color: #ff0000;
  border: white;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
</style>
</head>
<body>

<h1>Make sure to join the discord</h1>


<div style="text-align: center"><iframe src="https://discord.com/widget?id=780627517203415060&theme=dark" width="350" height="500" allowtransparency="false" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe></div>
<div style="text-align: center"><button class="button"onclick="window.location.href='https://discord.gg/ZpGh5qFrwk';">
      join discord here
    </button></div>

<div style="text-align: center"><a href="https://discord.gg/ZpGh5qFrwk">other invite link</a></div>






<script>
for (i=1; i<=1; i++) {
 console.log("why are you looking here");
}
console.log("if you see this, you got gnomed")


</script>
<a href="/2" style="color: blue; -webkit-appearance: button; -moz-appearance: button; appearance: button; text-align: right">Visit site 2</a>
<a href="/3" style="color: blue; -webkit-appearance: button; -moz-appearance: button; appearance: button; text-align: right">Visit site 3</a>
</body>
</html>